l10n_ch_pain_direct_debit/data/pain.008.001.02.ch.01.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- 
(C) Copyright 2010, SKSF, www.sksf.ch
CH Version fuer pain.008 SEPA Direct Debit: xmlns="http://www.six-interbank-clearing.com/de/pain.008.001.02.ch.01.xsd"
.ch.:	            Identification for this CH version
Last part (.01):   Version of this scheme

Based on ISO pain.008.001.02 (urn:iso:std:iso:20022:tech:xsd:pain.008.001.02)

Anregungen und Fragen zu diesem Dokument können an das jeweilige Finanzinstitut gerichtet werden. 
Allgemeine Anregungen können auch bei der SIX Interbank Clearing AG unter folgender Adresse angebracht werden: 
pm@six-group.com
  
History
30.04.2010  V01  initial version, targetNamespace="http://www.iso-payments.ch/std/iso20022/ch/pain.008.001.02.ch.01"  File:pain.008.001.02.ch.01.xsd
-->
<!-- V01: changed: using ch version schemes
original: <xs:schema targetNamespace="urn:iso:std:iso:20022:tech:xsd:pain.008.001.02" xmlns="urn:iso:std:iso:20022:tech:xsd:pain.008.001.02" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.six-interbank-clearing.com/de/pain.008.001.02.ch.01.xsd" targetNamespace="http://www.six-interbank-clearing.com/de/pain.008.001.02.ch.01.xsd" elementFormDefault="qualified">
	<xs:element name="Document" type="Document"/>
	<!-- V01: unused
	<xs:complexType name="AccountIdentification4Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Othr" type="GenericAccountIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="AccountIdentification4Choice-CH">
		<xs:sequence>
			<xs:choice>
				<xs:element name="IBAN" type="IBAN2007Identifier"/>
				<xs:element name="Othr" type="GenericAccountIdentification1-CH"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="AccountSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalAccountIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0"/>
			<xs:fractionDigits value="5"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<!-- V01: added: CH version has fewer digits, uses EUR only -->
	<xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType_CH">
		<xs:restriction base="xs:decimal">
			<xs:minInclusive value="0.01"/>
			<xs:maxInclusive value="999999999.99"/>
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	-->
	<xs:complexType name="ActiveOrHistoricCurrencyAndAmount-CH_EUR">
		<xs:simpleContent>
			<xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType_CH">
				<xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode-CH_EUR" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{3,3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActiveOrHistoricCurrencyCode-CH_EUR">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EUR"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:simpleType name="AddressType2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ADDR"/>
			<xs:enumeration value="PBOX"/>
			<xs:enumeration value="HOME"/>
			<xs:enumeration value="BIZZ"/>
			<xs:enumeration value="MLTO"/>
			<xs:enumeration value="DLVY"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AmendmentInformationDetails6">
		<xs:sequence>
			<xs:element name="OrgnlMndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="OrgnlCdtrSchmeId" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlDbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlFnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="OrgnlFrqcy" type="Frequency1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: added: CH version -->
	<xs:complexType name="AmendmentInformationDetails6-CH">
		<xs:sequence>
			<xs:element name="OrgnlMndtId" type="Max35Text-Swift" minOccurs="0"/>
			<xs:element name="OrgnlCdtrSchmeId" type="PartyIdentification32-CH_NameAndPrivId2" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAcct" type="CashAccount16-CH_Id" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgt" type="BranchAndFinancialInstitutionIdentification4-CH_SMNDA" minOccurs="0"/>
			<!-- V01: unused
			<xs:element name="OrgnlCdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			<xs:element name="OrgnlCdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="OrgnlDbtr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="OrgnlFnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="OrgnlFrqcy" type="Frequency1Code" minOccurs="0"/>
			<xs:element name="OrgnlDbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AnyBICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:complexType name="Authorisation1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="Authorisation1Code"/>
				<xs:element name="Prtry" type="Max128Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Authorisation1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AUTH"/>
			<xs:enumeration value="FDET"/>
			<xs:enumeration value="FSUM"/>
			<xs:enumeration value="ILEV"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<!-- V01: added: CH version supports only this character set. All text fields use this type -->
	<xs:simpleType name="BasicText-CH">
		<xs:restriction base="xs:string">
			<xs:pattern value="([a-zA-Z0-9\.,;:'\+\-/\(\)?\*\[\]\{\}\\`´~ ]|[!&quot;#%&amp;&lt;&gt;÷=@_$£]|[àáâäçèéêëìíîïñòóôöùúûüýßÀÁÂÄÇÈÉÊËÌÍÎÏÒÓÔÖÙÚÛÜÑ])*"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: added: This is the SWIFT character set -->
	<xs:simpleType name="BasicText-Swift">
		<xs:restriction base="xs:string">
			<xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|'|\p{Zs}])*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BICIdentifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BatchBookingIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
	<!-- V01: unused
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
			<xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: added: replacement type for BranchAndFinancialInstitutionIdentification4 where only element FinInstnIdmay be used -->
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4-CH_FinId">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7-CH_Bic"/>
			<!-- V01: unsused			
			<xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for BranchAndFinancialInstitutionIdentification4 where only element SMNDA be used -->
	<xs:complexType name="BranchAndFinancialInstitutionIdentification4-CH_SMNDA">
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification7-CH_SMNDA"/>
			<!-- V01: unsused			
			<xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="BranchData2">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CashAccount16">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice"/>
			<xs:element name="Tp" type="CashAccountType2" minOccurs="0"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: added: replacement type for CashAccount16 where only elements Id and Ccy may be used -->
	<xs:complexType name="CashAccount16-CH_IdAndCurrency">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice-CH"/>
			<xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for CashAccount16 where only element Id may be used -->
	<xs:complexType name="CashAccount16-CH_Id">
		<xs:sequence>
			<xs:element name="Id" type="AccountIdentification4Choice-CH"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="CashAccountType2">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="CashAccountType4Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CashAccountType4Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CASH"/>
			<xs:enumeration value="CHAR"/>
			<xs:enumeration value="COMM"/>
			<xs:enumeration value="TAXE"/>
			<xs:enumeration value="CISH"/>
			<xs:enumeration value="TRAS"/>
			<xs:enumeration value="SACC"/>
			<xs:enumeration value="CACC"/>
			<xs:enumeration value="SVGS"/>
			<xs:enumeration value="ONDP"/>
			<xs:enumeration value="MGLD"/>
			<xs:enumeration value="NREX"/>
			<xs:enumeration value="MOMA"/>
			<xs:enumeration value="LOAN"/>
			<xs:enumeration value="SLRY"/>
			<xs:enumeration value="ODFT"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<xs:complexType name="CategoryPurpose1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused:
	<xs:simpleType name="ChargeBearerType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DEBT"/>
			<xs:enumeration value="CRED"/>
			<xs:enumeration value="SHAR"/>
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<!-- V01: added: replacement type for ChargeBearerType1Code where only SLEV may be used -->
	<xs:simpleType name="ChargeBearerType1Code-CH">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SLEV"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
			<xs:element name="MmbId" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactDetails2">
		<xs:sequence>
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V02: changed: include Contact Details for Software name and version -->
	<xs:complexType name="ContactDetails2-CH">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="Othr" type="Max35Text" minOccurs="0"/>
			<!-- V02: unused
			<xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
			<xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
			<xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:simpleType name="CreditDebitCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRDT"/>
			<xs:enumeration value="DBIT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditorReferenceInformation2">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2"/>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="CreditorReferenceInformation2-CH">
		<xs:sequence>
			<xs:element name="Tp" type="CreditorReferenceType2-CH"/>
			<xs:element name="Ref" type="Max35Text"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="CreditorReferenceType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType3Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: added: replacement type for CreditorReferenceType1Choice where only Cd may be used -->
	<xs:complexType name="CreditorReferenceType1-CH">
		<xs:sequence>
			<xs:element name="Cd" type="DocumentType3Code-CH"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="CreditorReferenceType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="CreditorReferenceType2-CH">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="CreditorReferenceType1-CH"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="CustomerDirectDebitInitiationV02-CH">
		<xs:sequence>
			<xs:element name="GrpHdr" type="GroupHeader39-CH"/>
			<xs:element name="PmtInf" type="PaymentInstructionInformation4-CH" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DateAndPlaceOfBirth">
		<xs:sequence>
			<xs:element name="BirthDt" type="ISODate"/>
			<xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
			<xs:element name="CityOfBirth" type="Max35Text"/>
			<xs:element name="CtryOfBirth" type="CountryCode"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="DatePeriodDetails">
		<xs:sequence>
			<xs:element name="FrDt" type="ISODate"/>
			<xs:element name="ToDt" type="ISODate"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<xs:simpleType name="DecimalNumber">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="17"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:complexType name="DirectDebitTransaction6">
		<xs:sequence>
			<xs:element name="MndtRltdInf" type="MandateRelatedInformation6" minOccurs="0"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="PreNtfctnId" type="Max35Text" minOccurs="0"/>
			<xs:element name="PreNtfctnDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="DirectDebitTransaction6-CH">
		<xs:sequence>
			<xs:element name="MndtRltdInf" type="MandateRelatedInformation6-CH"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification32-CH_PrivId" minOccurs="0"/>
			<!-- V01: unused
			<xs:element name="PreNtfctnId" type="Max35Text" minOccurs="0"/>
			<xs:element name="PreNtfctnDt" type="ISODate" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="DirectDebitTransactionInformation9-CH">
		<xs:sequence>
			<xs:element name="PmtId" type="PaymentIdentification1-CH"/>
			<xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount-CH_EUR"/>
			<xs:element name="ChrgBr" type="ChargeBearerType1Code-CH" minOccurs="0"/>
			<xs:element name="DrctDbtTx" type="DirectDebitTransaction6-CH"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32-CH_NameAndId" minOccurs="0"/>
			<xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4-CH_FinId"/>
			<xs:element name="Dbtr" type="PartyIdentification32-CH_NameAddressId"/>
			<xs:element name="DbtrAcct" type="CashAccount16-CH_IdAndCurrency"/>
			<xs:element name="UltmtDbtr" type="PartyIdentification32-CH_NameAndId" minOccurs="0"/>
			<xs:element name="Purp" type="Purpose2-CH" minOccurs="0"/>
			<xs:element name="RmtInf" type="RemittanceInformation5-CH" minOccurs="0"/>
			<!-- V01: unused
			<xs:element name="RgltryRptg" type="RegulatoryReporting3" minOccurs="0" maxOccurs="10"/>
			<xs:element name="Tax" type="TaxInformation3" minOccurs="0"/>
			<xs:element name="RltdRmtInf" type="RemittanceLocation2" minOccurs="0" maxOccurs="10"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation20-CH" minOccurs="0"/>
			<xs:element name="DbtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="InstrForCdtrAgt" type="Max140Text" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="CstmrDrctDbtInitn" type="CustomerDirectDebitInitiationV02-CH"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="DocumentAdjustment1">
		<xs:sequence>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
			<xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
			<xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DocumentType3Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RADM"/>
			<xs:enumeration value="RPIN"/>
			<xs:enumeration value="FXDR"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="PUOR"/>
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<!-- V01: changed: CH version supports SCOR only -->
	<xs:simpleType name="DocumentType3Code-CH">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SCOR"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:simpleType name="DocumentType5Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MSIN"/>
			<xs:enumeration value="CNFA"/>
			<xs:enumeration value="DNFA"/>
			<xs:enumeration value="CINV"/>
			<xs:enumeration value="CREN"/>
			<xs:enumeration value="DEBN"/>
			<xs:enumeration value="HIRI"/>
			<xs:enumeration value="SBIN"/>
			<xs:enumeration value="CMCN"/>
			<xs:enumeration value="SOAC"/>
			<xs:enumeration value="DISP"/>
			<xs:enumeration value="BOLD"/>
			<xs:enumeration value="VCHR"/>
			<xs:enumeration value="AROI"/>
			<xs:enumeration value="TSUT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalAccountIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<xs:simpleType name="ExternalCategoryPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:simpleType name="ExternalClearingSystemIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="5"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalLocalInstrument1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<xs:simpleType name="ExternalOrganisationIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPersonIdentification1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExternalPurpose1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:simpleType name="ExternalServiceLevel1Code">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: unused
	<xs:complexType name="FinancialInstitutionIdentification7">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: added: replacement type for FinancialInstitutionIdentification7 where only element BIC be used -->
	<xs:complexType name="FinancialInstitutionIdentification7-CH_Bic">
		<xs:sequence>
			<xs:element name="BIC" type="BICIdentifier"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for FinancialInstitutionIdentification7 where only element Other (SMNDA) be used -->
	<xs:complexType name="FinancialInstitutionIdentification7-CH_SMNDA">
		<xs:sequence>
			<xs:element name="Othr" type="GenericFinancialIdentification1-CH_SMNDA"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:simpleType name="Frequency1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="YEAR"/>
			<xs:enumeration value="MNTH"/>
			<xs:enumeration value="QURT"/>
			<xs:enumeration value="MIAN"/>
			<xs:enumeration value="WEEK"/>
			<xs:enumeration value="DAIL"/>
			<xs:enumeration value="ADHO"/>
			<xs:enumeration value="INDA"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="GenericAccountIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="GenericAccountIdentification1-CH">
		<xs:sequence>
			<xs:element name="Id" type="Max34Text"/>
			<!-- VO1: unused
			<xs:element name="SchmeNm" type="AccountSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: added: replacement type where only SMNDA is allowed -->
	<xs:complexType name="GenericFinancialIdentification1-CH_SMNDA">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text-SMNDA"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericOrganisationIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericPersonIdentification1">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="GenericPersonIdentification1-CH_Prtry">
		<xs:sequence>
			<xs:element name="Id" type="Max35Text-Swift"/>
			<xs:element name="SchmeNm" type="PersonIdentificationSchemeName1-CH_Prtry"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="GroupHeader39-CH">
		<xs:sequence>
			<xs:element name="MsgId" type="Max35Text-Swift"/>
			<xs:element name="CreDtTm" type="ISODateTime"/>
			<xs:element name="NbOfTxs" type="Max15NumericText"/>
			<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="InitgPty" type="PartyIdentification32-CH_NameAndOrgId"/>
			<!-- V01: unused
			<xs:element maxOccurs="2" minOccurs="0" name="Authstn" type="Authorisation1Choice"/>
			<xs:element maxOccurs="1" minOccurs="0" name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification4"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="IBAN2007Identifier">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ISODate">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="ISODateTime">
		<xs:restriction base="xs:dateTime"/>
	</xs:simpleType>
	<!-- V01: unused
	<xs:complexType name="LocalInstrument2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: CH version supports CORE or B2B only, original type was ExternalLocalInstrumentCode -->
	<xs:simpleType name="LocalInstrumentCode-CH">
		<xs:restriction base="xs:string">
			<xs:enumeration value="B2B"/>
			<xs:enumeration value="CORE"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="LocalInstrument2-CH">
		<xs:sequence>
			<xs:element name="Cd" type="LocalInstrumentCode-CH"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="MandateRelatedInformation6">
		<xs:sequence>
			<xs:element name="MndtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="DtOfSgntr" type="ISODate" minOccurs="0"/>
			<xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0"/>
			<xs:element name="AmdmntInfDtls" type="AmendmentInformationDetails6" minOccurs="0"/>
			<xs:element name="ElctrncSgntr" type="Max1025Text" minOccurs="0"/>
			<xs:element name="FrstColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="FnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="Frqcy" type="Frequency1Code" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="MandateRelatedInformation6-CH">
		<xs:sequence>
			<xs:element name="MndtId" type="Max35Text-Swift"/>
			<xs:element name="DtOfSgntr" type="ISODate"/>
			<xs:element name="AmdmntInd" type="TrueFalseIndicator" minOccurs="0"/>
			<xs:element name="AmdmntInfDtls" type="AmendmentInformationDetails6-CH" minOccurs="0"/>
			<xs:element name="ElctrncSgntr" type="Max1025Text" minOccurs="0"/>
			<!-- V01: unused
			<xs:element name="FrstColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="FnlColltnDt" type="ISODate" minOccurs="0"/>
			<xs:element name="Frqcy" type="Frequency1Code" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Max1025Text">
		<xs:restriction base="BasicText-CH">
			<xs:minLength value="1"/>
			<xs:maxLength value="1025"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:simpleType name="Max10Text">
		<xs:restriction base="BasicText-CH">
			<xs:minLength value="1"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max128Text">
		<xs:restriction base="BasicText-CH">
			<xs:minLength value="1"/>
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<xs:simpleType name="Max140Text">
		<xs:restriction base="BasicText-CH">
			<xs:minLength value="1"/>
			<xs:maxLength value="140"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max15NumericText">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:simpleType name="Max16Text">
		<xs:restriction base="BasicText-CH">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max2048Text">
		<xs:restriction base="BasicText-CH">
			<xs:minLength value="1"/>
			<xs:maxLength value="2048"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<xs:simpleType name="Max34Text">
		<xs:restriction base="BasicText-CH">
			<xs:minLength value="1"/>
			<xs:maxLength value="34"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max35Text">
		<xs:restriction base="BasicText-CH">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: added: replacement type for Max35Text where only the Swift character set is allowed -->
	<xs:simpleType name="Max35Text-Swift">
		<xs:restriction base="BasicText-Swift">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: added: replacement type for Max35Text where only SMNDA is allowed -->
	<xs:simpleType name="Max35Text-SMNDA">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SMNDA"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:simpleType name="Max4Text">
		<xs:restriction base="BasicText-CH">
			<xs:minLength value="1"/>
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<xs:simpleType name="Max70Text">
		<xs:restriction base="BasicText-CH">
			<xs:minLength value="1"/>
			<xs:maxLength value="70"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:complexType name="NameAndAddress10">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text"/>
			<xs:element name="Adr" type="PostalAddress6"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="NamePrefix1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DOCT"/>
			<xs:enumeration value="MIST"/>
			<xs:enumeration value="MISS"/>
			<xs:enumeration value="MADM"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<!-- V01: unused
	<xs:simpleType name="Number">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="0"/>
			<xs:totalDigits value="18"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="OrganisationIdentification4">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: type OrganisationIdentification4 allows only one occurance of other in CH version -->
	<xs:complexType name="OrganisationIdentification4-CH">
		<xs:sequence>
			<xs:choice>
				<xs:element name="BICOrBEI" type="AnyBICIdentifier"/>
				<xs:element name="Othr" type="GenericOrganisationIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: type OrganisationIdentification4 allows only one occurance of other in CH version -->
	<xs:complexType name="OrganisationIdentification4-CH2">
		<xs:sequence>
			<xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
			<xs:element name="Othr" type="GenericOrganisationIdentification1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrganisationIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="Party6Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4"/>
				<xs:element name="PrvtId" type="PersonIdentification5"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: added: replacement type for Party6Choicewhere only element Org-Id may be used -->
	<xs:complexType name="Party6-CH_OrgId">
		<xs:sequence>
			<xs:element name="OrgId" type="OrganisationIdentification4-CH2"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for Party6Choicewhere only element Priv-Id may be used -->
	<xs:complexType name="Party6-CH_PrivId">
		<xs:sequence>
			<xs:element name="PrvtId" type="PersonIdentification5-CH"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for Party6Choicewhere only element Priv-Id / Scheme / Prtry may be used -->
	<xs:complexType name="Party6-CH_PrivId2">
		<xs:sequence>
			<xs:element name="PrvtId" type="PersonIdentification5-CH_Prtry"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for Party6Choicewhere only element Org-Id or Priv-Id may be used -->
	<xs:complexType name="Party6Choice-CH_Id">
		<xs:sequence>
			<xs:choice>
				<xs:element name="OrgId" type="OrganisationIdentification4-CH"/>
				<xs:element name="PrvtId" type="PersonIdentification5-CH"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="PartyIdentification32">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
			<xs:element name="Id" type="Party6Choice" minOccurs="0"/>
			<xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
			<xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: added: replacement type for PartyIdentification32 where only elements Name (70 chars) and Org-Id may be used -->
	<xs:complexType name="PartyIdentification32-CH_NameAndOrgId">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="Id" type="Party6-CH_OrgId"/>
			<xs:element name="CtctDtls" type="ContactDetails2-CH" minOccurs="0"/>
			<!-- V02: changed: include Contact Details for Software name and version -->
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for PartyIdentification32 where only elements Name (70 chars) and Priv-Id may be used -->
	<xs:complexType name="PartyIdentification32-CH_NameAndPrivId">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="Id" type="Party6-CH_PrivId"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for PartyIdentification32 where only elements Name (70 chars) and Priv-Id / Scheme / Other may be used -->
	<xs:complexType name="PartyIdentification32-CH_NameAndPrivId2">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="Id" type="Party6-CH_PrivId2"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for PartyIdentification32 where only elements Name (70 chars) and Org-Id or Priv-Id may be used -->
	<xs:complexType name="PartyIdentification32-CH_NameAndId">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text" minOccurs="0"/>
			<xs:element name="Id" type="Party6Choice-CH_Id" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for PartyIdentification32 where only elements Name (70 chars) and Address may be used -->
	<xs:complexType name="PartyIdentification32-CH_NameAndAddress">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="PostalAddress6-CH" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for PartyIdentification32 where only elements Name (70 chars) Address and Id may be used -->
	<xs:complexType name="PartyIdentification32-CH_NameAddressId">
		<xs:sequence>
			<xs:element name="Nm" type="Max70Text"/>
			<xs:element name="PstlAdr" type="PostalAddress6-CH" minOccurs="0"/>
			<xs:element name="Id" type="Party6Choice-CH_Id" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: added: replacement type for PartyIdentification32 where only element Priv-Id may be used -->
	<xs:complexType name="PartyIdentification32-CH_PrivId">
		<xs:sequence>
			<xs:element name="Id" type="Party6-CH_PrivId2"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="PaymentIdentification1-CH">
		<xs:sequence>
			<xs:element name="InstrId" type="Max35Text-Swift"/>
			<xs:element name="EndToEndId" type="Max35Text-Swift"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="PaymentInstructionInformation4-CH">
		<xs:sequence>
			<xs:element name="PmtInfId" type="Max35Text-Swift"/>
			<xs:element name="PmtMtd" type="PaymentMethod2Code"/>
			<xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0"/>
			<xs:element name="NbOfTxs" type="Max15NumericText" minOccurs="0"/>
			<xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
			<xs:element name="PmtTpInf" type="PaymentTypeInformation20-CH"/>
			<xs:element name="ReqdColltnDt" type="ISODate"/>
			<xs:element name="Cdtr" type="PartyIdentification32-CH_NameAndAddress"/>
			<xs:element name="CdtrAcct" type="CashAccount16-CH_IdAndCurrency"/>
			<xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4-CH_FinId"/>
			<xs:element name="UltmtCdtr" type="PartyIdentification32-CH_NameAndId" minOccurs="0"/>
			<xs:element name="ChrgBr" type="ChargeBearerType1Code-CH" minOccurs="0"/>
			<xs:element name="CdtrSchmeId" type="PartyIdentification32-CH_PrivId" minOccurs="0"/>
			<xs:element name="DrctDbtTxInf" type="DirectDebitTransactionInformation9-CH" maxOccurs="unbounded"/>
			<!-- V01: unsused
			<xs:element name="CdtrAgtAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="ChrgsAcct" type="CashAccount16" minOccurs="0"/>
			<xs:element name="ChrgsAcctAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PaymentMethod2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DD"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: changed: type PaymentTypeInformation20 contains CH specific changes -->
	<xs:complexType name="PaymentTypeInformation20-CH">
		<xs:sequence>
			<xs:element name="SvcLvl" type="ServiceLevel8-CH_Code"/>
			<xs:element name="LclInstrm" type="LocalInstrument2-CH"/>
			<xs:element name="SeqTp" type="SequenceType1Code"/>
			<xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
			<!-- V01: unused
			<xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unsued
	<xs:simpleType name="PercentageRate">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="10"/>
			<xs:totalDigits value="11"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PersonIdentification5">
		<xs:sequence>
			<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
			<xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: type PersonIdentification5 allows only one occurance of other in CH version -->
	<xs:complexType name="PersonIdentification5-CH">
		<xs:sequence>
			<xs:choice>
				<xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth"/>
				<xs:element name="Othr" type="GenericPersonIdentification1"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: type PersonIdentification5 allows only Other in CH version -->
	<xs:complexType name="PersonIdentification5-CH_Prtry">
		<xs:sequence>
			<xs:element name="Othr" type="GenericPersonIdentification1-CH_Prtry"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonIdentificationSchemeName1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: type PaymentTypeInformation20 allows SEPA only in CH version -->
	<xs:complexType name="PersonIdentificationSchemeName1-CH_Prtry">
		<xs:sequence>
			<xs:element name="Prtry" type="PersonIdentificationSchemeName1Code-CH"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: CH version only supports SEPA -->
	<xs:simpleType name="PersonIdentificationSchemeName1Code-CH">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEPA"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PostalAddress6">
		<xs:sequence>
			<xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
			<xs:element name="Dept" type="Max70Text" minOccurs="0"/>
			<xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
			<xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
			<xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
			<xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
			<xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
			<xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: added: replacement type for PostalAddress6where only address lines and country may be used -->
	<xs:complexType name="PostalAddress6-CH">
		<xs:sequence>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:simpleType name="Priority2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="HIGH"/>
			<xs:enumeration value="NORM"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<!-- V01: unused
	<xs:complexType name="Purpose2Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalPurpose1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: added: replacement type for Purpose2Choice only Cd may be used -->
	<xs:complexType name="Purpose2-CH">
		<xs:sequence>
			<xs:element name="Cd" type="ExternalPurpose1Code"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="ReferredDocumentInformation3">
		<xs:sequence>
			<xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
			<xs:element name="Nb" type="Max35Text" minOccurs="0"/>
			<xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType1Choice">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="DocumentType5Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReferredDocumentType2">
		<xs:sequence>
			<xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
			<xs:element name="Issr" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegulatoryAuthority2">
		<xs:sequence>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegulatoryReporting3">
		<xs:sequence>
			<xs:element name="DbtCdtRptgInd" type="RegulatoryReportingType1Code" minOccurs="0"/>
			<xs:element name="Authrty" type="RegulatoryAuthority2" minOccurs="0"/>
			<xs:element name="Dtls" type="StructuredRegulatoryReporting3" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RegulatoryReportingType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CRED"/>
			<xs:enumeration value="DEBT"/>
			<xs:enumeration value="BOTH"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RemittanceAmount1">
		<xs:sequence>
			<xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="RemittanceInformation5-CH">
		<xs:sequence>
			<xs:element name="Ustrd" type="Max140Text" minOccurs="0"/>
			<xs:element name="Strd" type="StructuredRemittanceInformation7-CH" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="RemittanceLocation2">
		<xs:sequence>
			<xs:element name="RmtId" type="Max35Text" minOccurs="0"/>
			<xs:element name="RmtLctnMtd" type="RemittanceLocationMethod2Code" minOccurs="0"/>
			<xs:element name="RmtLctnElctrncAdr" type="Max2048Text" minOccurs="0"/>
			<xs:element name="RmtLctnPstlAdr" type="NameAndAddress10" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RemittanceLocationMethod2Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FAXI"/>
			<xs:enumeration value="EDIC"/>
			<xs:enumeration value="URID"/>
			<xs:enumeration value="EMAL"/>
			<xs:enumeration value="POST"/>
			<xs:enumeration value="SMSM"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<xs:simpleType name="SequenceType1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="FRST"/>
			<xs:enumeration value="RCUR"/>
			<xs:enumeration value="FNAL"/>
			<xs:enumeration value="OOFF"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:complexType name="ServiceLevel8">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Cd" type="ExternalServiceLevel1Code"/>
				<xs:element name="Prtry" type="Max35Text"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: type PaymentTypeInformation20 contains CH specific changes -->
	<xs:complexType name="ServiceLevel8-CH_Code">
		<xs:sequence>
			<xs:element name="Cd" type="ServiceLevel8Code-CH"/>
		</xs:sequence>
	</xs:complexType>
	<!-- V01: changed: CH version only supports SEPA -->
	<xs:simpleType name="ServiceLevel8Code-CH">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SEPA"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- V01: unused
	<xs:complexType name="StructuredRegulatoryReporting3">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text" minOccurs="0"/>
			<xs:element name="Dt" type="ISODate" minOccurs="0"/>
			<xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
			<xs:element name="Cd" type="Max10Text" minOccurs="0"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="Inf" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StructuredRemittanceInformation7">
		<xs:sequence>
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0"/>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
			<xs:element name="Invcr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Invcee" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- V01: changed: CH version changes applied  -->
	<xs:complexType name="StructuredRemittanceInformation7-CH">
		<xs:sequence>
			<xs:element name="CdtrRefInf" type="CreditorReferenceInformation2-CH"/>
			<!-- V01: unused
			<xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0"/>
			<xs:element name="Invcr" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="Invcee" type="PartyIdentification32" minOccurs="0"/>
			<xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<!-- V01: unused
	<xs:complexType name="TaxAmount1">
		<xs:sequence>
			<xs:element name="Rate" type="PercentageRate" minOccurs="0"/>
			<xs:element name="TaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TtlAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="Dtls" type="TaxRecordDetails1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxAuthorisation1">
		<xs:sequence>
			<xs:element name="Titl" type="Max35Text" minOccurs="0"/>
			<xs:element name="Nm" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxInformation3">
		<xs:sequence>
			<xs:element name="Cdtr" type="TaxParty1" minOccurs="0"/>
			<xs:element name="Dbtr" type="TaxParty2" minOccurs="0"/>
			<xs:element name="AdmstnZn" type="Max35Text" minOccurs="0"/>
			<xs:element name="RefNb" type="Max140Text" minOccurs="0"/>
			<xs:element name="Mtd" type="Max35Text" minOccurs="0"/>
			<xs:element name="TtlTaxblBaseAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="TtlTaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
			<xs:element name="Dt" type="ISODate" minOccurs="0"/>
			<xs:element name="SeqNb" type="Number" minOccurs="0"/>
			<xs:element name="Rcrd" type="TaxRecord1" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxParty1">
		<xs:sequence>
			<xs:element name="TaxId" type="Max35Text" minOccurs="0"/>
			<xs:element name="RegnId" type="Max35Text" minOccurs="0"/>
			<xs:element name="TaxTp" type="Max35Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxParty2">
		<xs:sequence>
			<xs:element name="TaxId" type="Max35Text" minOccurs="0"/>
			<xs:element name="RegnId" type="Max35Text" minOccurs="0"/>
			<xs:element name="TaxTp" type="Max35Text" minOccurs="0"/>
			<xs:element name="Authstn" type="TaxAuthorisation1" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxPeriod1">
		<xs:sequence>
			<xs:element name="Yr" type="ISODate" minOccurs="0"/>
			<xs:element name="Tp" type="TaxRecordPeriod1Code" minOccurs="0"/>
			<xs:element name="FrToDt" type="DatePeriodDetails" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxRecord1">
		<xs:sequence>
			<xs:element name="Tp" type="Max35Text" minOccurs="0"/>
			<xs:element name="Ctgy" type="Max35Text" minOccurs="0"/>
			<xs:element name="CtgyDtls" type="Max35Text" minOccurs="0"/>
			<xs:element name="DbtrSts" type="Max35Text" minOccurs="0"/>
			<xs:element name="CertId" type="Max35Text" minOccurs="0"/>
			<xs:element name="FrmsCd" type="Max35Text" minOccurs="0"/>
			<xs:element name="Prd" type="TaxPeriod1" minOccurs="0"/>
			<xs:element name="TaxAmt" type="TaxAmount1" minOccurs="0"/>
			<xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxRecordDetails1">
		<xs:sequence>
			<xs:element name="Prd" type="TaxPeriod1" minOccurs="0"/>
			<xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="TaxRecordPeriod1Code">
		<xs:restriction base="xs:string">
			<xs:enumeration value="MM01"/>
			<xs:enumeration value="MM02"/>
			<xs:enumeration value="MM03"/>
			<xs:enumeration value="MM04"/>
			<xs:enumeration value="MM05"/>
			<xs:enumeration value="MM06"/>
			<xs:enumeration value="MM07"/>
			<xs:enumeration value="MM08"/>
			<xs:enumeration value="MM09"/>
			<xs:enumeration value="MM10"/>
			<xs:enumeration value="MM11"/>
			<xs:enumeration value="MM12"/>
			<xs:enumeration value="QTR1"/>
			<xs:enumeration value="QTR2"/>
			<xs:enumeration value="QTR3"/>
			<xs:enumeration value="QTR4"/>
			<xs:enumeration value="HLF1"/>
			<xs:enumeration value="HLF2"/>
		</xs:restriction>
	</xs:simpleType>
	-->
	<xs:simpleType name="TrueFalseIndicator">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
</xs:schema>
