l10n_ch_pain-001-001-03-six/data/pain-001-001-03-six.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.six-interbank-clearing.com/de/pain.001.001.03.ch.02.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.six-interbank-clearing.com/de/pain.001.001.03.ch.02.xsd"
    elementFormDefault="qualified">
  <xs:element name="Document" type="Document_2"/>
  <xs:complexType name="AccountIdentification4Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="IBAN" type="IBAN2007Identifier"/>
        <xs:element name="Othr" type="GenericAccountIdentification1"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountIdentification4Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="IBAN" type="IBAN2007Identifier"/>
        <xs:element name="Othr" type="GenericAccountIdentification1_2"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ActiveOrHistoricCurrencyAndAmount_2">
    <xs:simpleContent>
      <xs:extension base="ActiveOrHistoricCurrencyAndAmount_SimpleType">
        <xs:attribute name="Ccy" type="ActiveOrHistoricCurrencyCode" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="ActiveOrHistoricCurrencyAndAmount_SimpleType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ActiveOrHistoricCurrencyCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AED"/>
      <xs:enumeration value="AFN"/>
      <xs:enumeration value="ALL"/>
      <xs:enumeration value="AMD"/>
      <xs:enumeration value="ANG"/>
      <xs:enumeration value="AOA"/>
      <xs:enumeration value="ARS"/>
      <xs:enumeration value="AUD"/>
      <xs:enumeration value="AWG"/>
      <xs:enumeration value="AZN"/>
      <xs:enumeration value="BAM"/>
      <xs:enumeration value="BBD"/>
      <xs:enumeration value="BDT"/>
      <xs:enumeration value="BGN"/>
      <xs:enumeration value="BHD"/>
      <xs:enumeration value="BIF"/>
      <xs:enumeration value="BMD"/>
      <xs:enumeration value="BND"/>
      <xs:enumeration value="BOB"/>
      <xs:enumeration value="BOV"/>
      <xs:enumeration value="BRL"/>
      <xs:enumeration value="BSD"/>
      <xs:enumeration value="BTN"/>
      <xs:enumeration value="BWP"/>
      <xs:enumeration value="BYR"/>
      <xs:enumeration value="BZD"/>
      <xs:enumeration value="CAD"/>
      <xs:enumeration value="CDF"/>
      <xs:enumeration value="CHE"/>
      <xs:enumeration value="CHF"/>
      <xs:enumeration value="CHW"/>
      <xs:enumeration value="CLF"/>
      <xs:enumeration value="CLP"/>
      <xs:enumeration value="CNY"/>
      <xs:enumeration value="COP"/>
      <xs:enumeration value="COU"/>
      <xs:enumeration value="CRC"/>
      <xs:enumeration value="CUC"/>
      <xs:enumeration value="CUP"/>
      <xs:enumeration value="CVE"/>
      <xs:enumeration value="CZK"/>
      <xs:enumeration value="DJF"/>
      <xs:enumeration value="DKK"/>
      <xs:enumeration value="DOP"/>
      <xs:enumeration value="DZD"/>
      <xs:enumeration value="EGP"/>
      <xs:enumeration value="ERN"/>
      <xs:enumeration value="ETB"/>
      <xs:enumeration value="EUR"/>
      <xs:enumeration value="FJD"/>
      <xs:enumeration value="FKP"/>
      <xs:enumeration value="GBP"/>
      <xs:enumeration value="GEL"/>
      <xs:enumeration value="GHS"/>
      <xs:enumeration value="GIP"/>
      <xs:enumeration value="GMD"/>
      <xs:enumeration value="GNF"/>
      <xs:enumeration value="GTQ"/>
      <xs:enumeration value="GYD"/>
      <xs:enumeration value="HKD"/>
      <xs:enumeration value="HNL"/>
      <xs:enumeration value="HRK"/>
      <xs:enumeration value="HTG"/>
      <xs:enumeration value="HUF"/>
      <xs:enumeration value="IDR"/>
      <xs:enumeration value="ILS"/>
      <xs:enumeration value="INR"/>
      <xs:enumeration value="IQD"/>
      <xs:enumeration value="IRR"/>
      <xs:enumeration value="ISK"/>
      <xs:enumeration value="JMD"/>
      <xs:enumeration value="JOD"/>
      <xs:enumeration value="JPY"/>
      <xs:enumeration value="KES"/>
      <xs:enumeration value="KGS"/>
      <xs:enumeration value="KHR"/>
      <xs:enumeration value="KMF"/>
      <xs:enumeration value="KPW"/>
      <xs:enumeration value="KRW"/>
      <xs:enumeration value="KWD"/>
      <xs:enumeration value="KYD"/>
      <xs:enumeration value="KZT"/>
      <xs:enumeration value="LAK"/>
      <xs:enumeration value="LBP"/>
      <xs:enumeration value="LKR"/>
      <xs:enumeration value="LRD"/>
      <xs:enumeration value="LSL"/>
      <xs:enumeration value="LYD"/>
      <xs:enumeration value="MAD"/>
      <xs:enumeration value="MDL"/>
      <xs:enumeration value="MGA"/>
      <xs:enumeration value="MKD"/>
      <xs:enumeration value="MMK"/>
      <xs:enumeration value="MNT"/>
      <xs:enumeration value="MOP"/>
      <xs:enumeration value="MRO"/>
      <xs:enumeration value="MUR"/>
      <xs:enumeration value="MVR"/>
      <xs:enumeration value="MWK"/>
      <xs:enumeration value="MXN"/>
      <xs:enumeration value="MXV"/>
      <xs:enumeration value="MYR"/>
      <xs:enumeration value="MZN"/>
      <xs:enumeration value="NAD"/>
      <xs:enumeration value="NGN"/>
      <xs:enumeration value="NIO"/>
      <xs:enumeration value="NOK"/>
      <xs:enumeration value="NPR"/>
      <xs:enumeration value="NZD"/>
      <xs:enumeration value="OMR"/>
      <xs:enumeration value="PAB"/>
      <xs:enumeration value="PEN"/>
      <xs:enumeration value="PGK"/>
      <xs:enumeration value="PHP"/>
      <xs:enumeration value="PKR"/>
      <xs:enumeration value="PLN"/>
      <xs:enumeration value="PYG"/>
      <xs:enumeration value="QAR"/>
      <xs:enumeration value="RON"/>
      <xs:enumeration value="RSD"/>
      <xs:enumeration value="RUB"/>
      <xs:enumeration value="RWF"/>
      <xs:enumeration value="SAR"/>
      <xs:enumeration value="SBD"/>
      <xs:enumeration value="SCR"/>
      <xs:enumeration value="SDG"/>
      <xs:enumeration value="SEK"/>
      <xs:enumeration value="SGD"/>
      <xs:enumeration value="SHP"/>
      <xs:enumeration value="SLL"/>
      <xs:enumeration value="SOS"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="SSP"/>
      <xs:enumeration value="STD"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="SYP"/>
      <xs:enumeration value="SZL"/>
      <xs:enumeration value="THB"/>
      <xs:enumeration value="TJS"/>
      <xs:enumeration value="TMT"/>
      <xs:enumeration value="TND"/>
      <xs:enumeration value="TOP"/>
      <xs:enumeration value="TRY"/>
      <xs:enumeration value="TTD"/>
      <xs:enumeration value="TWD"/>
      <xs:enumeration value="TZS"/>
      <xs:enumeration value="UAH"/>
      <xs:enumeration value="UGX"/>
      <xs:enumeration value="USD"/>
      <xs:enumeration value="USN"/>
      <xs:enumeration value="UYI"/>
      <xs:enumeration value="UYU"/>
      <xs:enumeration value="UZS"/>
      <xs:enumeration value="VEF"/>
      <xs:enumeration value="VND"/>
      <xs:enumeration value="VUV"/>
      <xs:enumeration value="WST"/>
      <xs:enumeration value="XAF"/>
      <xs:enumeration value="XAG"/>
      <xs:enumeration value="XAU"/>
      <xs:enumeration value="XBA"/>
      <xs:enumeration value="XBB"/>
      <xs:enumeration value="XBC"/>
      <xs:enumeration value="XBD"/>
      <xs:enumeration value="XCD"/>
      <xs:enumeration value="XDR"/>
      <xs:enumeration value="XOF"/>
      <xs:enumeration value="XPD"/>
      <xs:enumeration value="XPF"/>
      <xs:enumeration value="XPT"/>
      <xs:enumeration value="XSU"/>
      <xs:enumeration value="XTS"/>
      <xs:enumeration value="XUA"/>
      <xs:enumeration value="XXX"/>
      <xs:enumeration value="YER"/>
      <xs:enumeration value="ZAR"/>
      <xs:enumeration value="ZMW"/>
      <xs:enumeration value="ZWL"/>
      <xs:pattern value="[A-Z]{3,3}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AddressType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ADDR"/>
      <xs:enumeration value="BIZZ"/>
      <xs:enumeration value="DLVY"/>
      <xs:enumeration value="HOME"/>
      <xs:enumeration value="MLTO"/>
      <xs:enumeration value="PBOX"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AmountType3Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount"/>
        <xs:element name="EqvtAmt" type="EquivalentAmount2"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AmountType3Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="InstdAmt" type="ActiveOrHistoricCurrencyAndAmount_2"/>
        <xs:element name="EqvtAmt" type="EquivalentAmount2_2"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AnyBICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BaseOneRate">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="11"/>
      <xs:fractionDigits value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BatchBookingIndicator">
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
  <xs:simpleType name="BICIdentifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7"/>
      <xs:element name="BrnchId" type="BranchData2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_2">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_2"/>
      <xs:element name="BrnchId" type="BranchData2_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_3">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_4">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_4"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchAndFinancialInstitutionIdentification4_5">
    <xs:sequence>
      <xs:element name="FinInstnId" type="FinancialInstitutionIdentification7_5"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchData2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BranchData2_2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text_3" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text_3" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount16">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice"/>
      <xs:element name="Tp" type="CashAccountType2" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount16_2">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice_2"/>
      <xs:element name="Tp" type="CashAccountType2_2" minOccurs="0"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount16_3">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice_2"/>
      <xs:element name="Ccy" type="ActiveOrHistoricCurrencyCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccount16_4">
    <xs:sequence>
      <xs:element name="Id" type="AccountIdentification4Choice_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountType2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="CashAccountType4Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CashAccountType2_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="CashAccountType4Code"/>
        <xs:element name="Prtry" type="Max35Text_4"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CashAccountType4Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CACC"/>
      <xs:enumeration value="CASH"/>
      <xs:enumeration value="CHAR"/>
      <xs:enumeration value="CISH"/>
      <xs:enumeration value="COMM"/>
      <xs:enumeration value="LOAN"/>
      <xs:enumeration value="MGLD"/>
      <xs:enumeration value="MOMA"/>
      <xs:enumeration value="NREX"/>
      <xs:enumeration value="ODFT"/>
      <xs:enumeration value="ONDP"/>
      <xs:enumeration value="SACC"/>
      <xs:enumeration value="SLRY"/>
      <xs:enumeration value="SVGS"/>
      <xs:enumeration value="TAXE"/>
      <xs:enumeration value="TRAS"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CategoryPurpose1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalCategoryPurpose1Code"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ChargeBearerType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRED"/>
      <xs:enumeration value="DEBT"/>
      <xs:enumeration value="SHAR"/>
      <xs:enumeration value="SLEV"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Cheque6">
    <xs:sequence>
      <xs:element name="ChqTp" type="ChequeType2Code" minOccurs="0"/>
      <xs:element name="DlvryMtd" type="ChequeDeliveryMethod1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Cheque6_2">
    <xs:sequence>
      <xs:element name="ChqTp" type="ChequeType2Code" minOccurs="0"/>
      <xs:element name="DlvryMtd" type="ChequeDeliveryMethod1Choice_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ChequeDelivery1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRCD"/>
      <xs:enumeration value="CRDB"/>
      <xs:enumeration value="CRFA"/>
      <xs:enumeration value="MLCD"/>
      <xs:enumeration value="MLDB"/>
      <xs:enumeration value="MLFA"/>
      <xs:enumeration value="PUCD"/>
      <xs:enumeration value="PUDB"/>
      <xs:enumeration value="PUFA"/>
      <xs:enumeration value="RGCD"/>
      <xs:enumeration value="RGDB"/>
      <xs:enumeration value="RGFA"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ChequeDeliveryMethod1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ChequeDelivery1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChequeDeliveryMethod1Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ChequeDelivery1Code"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ChequeType2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BCHQ"/>
      <xs:enumeration value="CCCH"/>
      <xs:enumeration value="CCHQ"/>
      <xs:enumeration value="DRFT"/>
      <xs:enumeration value="ELDR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ClearingSystemIdentification2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemIdentification2Choice_3">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalClearingSystemIdentification1Code_2"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_2">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_2" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClearingSystemMemberIdentification2_3">
    <xs:sequence>
      <xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice_3" minOccurs="0"/>
      <xs:element name="MmbId" type="Max35Text_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactDetails2">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text" minOccurs="0"/>
      <xs:element name="Othr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactDetails2_2">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text_2" minOccurs="0"/>
      <xs:element name="Othr" type="Max35Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactDetails2_3">
    <xs:sequence>
      <xs:element name="NmPrfx" type="NamePrefix1Code" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text_3" minOccurs="0"/>
      <xs:element name="PhneNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="MobNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="FaxNb" type="PhoneNumber" minOccurs="0"/>
      <xs:element name="EmailAdr" type="Max2048Text_2" minOccurs="0"/>
      <xs:element name="Othr" type="Max35Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="CountryCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AD"/>
      <xs:enumeration value="AE"/>
      <xs:enumeration value="AF"/>
      <xs:enumeration value="AG"/>
      <xs:enumeration value="AI"/>
      <xs:enumeration value="AL"/>
      <xs:enumeration value="AM"/>
      <xs:enumeration value="AO"/>
      <xs:enumeration value="AQ"/>
      <xs:enumeration value="AR"/>
      <xs:enumeration value="AS"/>
      <xs:enumeration value="AT"/>
      <xs:enumeration value="AU"/>
      <xs:enumeration value="AW"/>
      <xs:enumeration value="AX"/>
      <xs:enumeration value="AZ"/>
      <xs:enumeration value="BA"/>
      <xs:enumeration value="BB"/>
      <xs:enumeration value="BD"/>
      <xs:enumeration value="BE"/>
      <xs:enumeration value="BF"/>
      <xs:enumeration value="BG"/>
      <xs:enumeration value="BH"/>
      <xs:enumeration value="BI"/>
      <xs:enumeration value="BJ"/>
      <xs:enumeration value="BL"/>
      <xs:enumeration value="BM"/>
      <xs:enumeration value="BN"/>
      <xs:enumeration value="BO"/>
      <xs:enumeration value="BQ"/>
      <xs:enumeration value="BR"/>
      <xs:enumeration value="BS"/>
      <xs:enumeration value="BT"/>
      <xs:enumeration value="BV"/>
      <xs:enumeration value="BW"/>
      <xs:enumeration value="BY"/>
      <xs:enumeration value="BZ"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="CC"/>
      <xs:enumeration value="CD"/>
      <xs:enumeration value="CF"/>
      <xs:enumeration value="CG"/>
      <xs:enumeration value="CH"/>
      <xs:enumeration value="CI"/>
      <xs:enumeration value="CK"/>
      <xs:enumeration value="CL"/>
      <xs:enumeration value="CM"/>
      <xs:enumeration value="CN"/>
      <xs:enumeration value="CO"/>
      <xs:enumeration value="CR"/>
      <xs:enumeration value="CU"/>
      <xs:enumeration value="CV"/>
      <xs:enumeration value="CW"/>
      <xs:enumeration value="CX"/>
      <xs:enumeration value="CY"/>
      <xs:enumeration value="CZ"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="DJ"/>
      <xs:enumeration value="DK"/>
      <xs:enumeration value="DM"/>
      <xs:enumeration value="DO"/>
      <xs:enumeration value="DZ"/>
      <xs:enumeration value="EC"/>
      <xs:enumeration value="EE"/>
      <xs:enumeration value="EG"/>
      <xs:enumeration value="EH"/>
      <xs:enumeration value="ER"/>
      <xs:enumeration value="ES"/>
      <xs:enumeration value="ET"/>
      <xs:enumeration value="FI"/>
      <xs:enumeration value="FJ"/>
      <xs:enumeration value="FK"/>
      <xs:enumeration value="FM"/>
      <xs:enumeration value="FO"/>
      <xs:enumeration value="FR"/>
      <xs:enumeration value="GA"/>
      <xs:enumeration value="GB"/>
      <xs:enumeration value="GD"/>
      <xs:enumeration value="GE"/>
      <xs:enumeration value="GF"/>
      <xs:enumeration value="GG"/>
      <xs:enumeration value="GH"/>
      <xs:enumeration value="GI"/>
      <xs:enumeration value="GL"/>
      <xs:enumeration value="GM"/>
      <xs:enumeration value="GN"/>
      <xs:enumeration value="GP"/>
      <xs:enumeration value="GQ"/>
      <xs:enumeration value="GR"/>
      <xs:enumeration value="GS"/>
      <xs:enumeration value="GT"/>
      <xs:enumeration value="GU"/>
      <xs:enumeration value="GW"/>
      <xs:enumeration value="GY"/>
      <xs:enumeration value="HK"/>
      <xs:enumeration value="HM"/>
      <xs:enumeration value="HN"/>
      <xs:enumeration value="HR"/>
      <xs:enumeration value="HT"/>
      <xs:enumeration value="HU"/>
      <xs:enumeration value="ID"/>
      <xs:enumeration value="IE"/>
      <xs:enumeration value="IL"/>
      <xs:enumeration value="IM"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="IO"/>
      <xs:enumeration value="IQ"/>
      <xs:enumeration value="IR"/>
      <xs:enumeration value="IS"/>
      <xs:enumeration value="IT"/>
      <xs:enumeration value="JE"/>
      <xs:enumeration value="JM"/>
      <xs:enumeration value="JO"/>
      <xs:enumeration value="JP"/>
      <xs:enumeration value="KE"/>
      <xs:enumeration value="KG"/>
      <xs:enumeration value="KH"/>
      <xs:enumeration value="KI"/>
      <xs:enumeration value="KM"/>
      <xs:enumeration value="KN"/>
      <xs:enumeration value="KP"/>
      <xs:enumeration value="KR"/>
      <xs:enumeration value="KW"/>
      <xs:enumeration value="KY"/>
      <xs:enumeration value="KZ"/>
      <xs:enumeration value="LA"/>
      <xs:enumeration value="LB"/>
      <xs:enumeration value="LC"/>
      <xs:enumeration value="LI"/>
      <xs:enumeration value="LK"/>
      <xs:enumeration value="LR"/>
      <xs:enumeration value="LS"/>
      <xs:enumeration value="LT"/>
      <xs:enumeration value="LU"/>
      <xs:enumeration value="LV"/>
      <xs:enumeration value="LY"/>
      <xs:enumeration value="MA"/>
      <xs:enumeration value="MC"/>
      <xs:enumeration value="MD"/>
      <xs:enumeration value="ME"/>
      <xs:enumeration value="MF"/>
      <xs:enumeration value="MG"/>
      <xs:enumeration value="MH"/>
      <xs:enumeration value="MK"/>
      <xs:enumeration value="ML"/>
      <xs:enumeration value="MM"/>
      <xs:enumeration value="MN"/>
      <xs:enumeration value="MO"/>
      <xs:enumeration value="MP"/>
      <xs:enumeration value="MQ"/>
      <xs:enumeration value="MR"/>
      <xs:enumeration value="MS"/>
      <xs:enumeration value="MT"/>
      <xs:enumeration value="MU"/>
      <xs:enumeration value="MV"/>
      <xs:enumeration value="MW"/>
      <xs:enumeration value="MX"/>
      <xs:enumeration value="MY"/>
      <xs:enumeration value="MZ"/>
      <xs:enumeration value="NA"/>
      <xs:enumeration value="NC"/>
      <xs:enumeration value="NE"/>
      <xs:enumeration value="NF"/>
      <xs:enumeration value="NG"/>
      <xs:enumeration value="NI"/>
      <xs:enumeration value="NL"/>
      <xs:enumeration value="NO"/>
      <xs:enumeration value="NP"/>
      <xs:enumeration value="NR"/>
      <xs:enumeration value="NU"/>
      <xs:enumeration value="NZ"/>
      <xs:enumeration value="OM"/>
      <xs:enumeration value="PA"/>
      <xs:enumeration value="PE"/>
      <xs:enumeration value="PF"/>
      <xs:enumeration value="PG"/>
      <xs:enumeration value="PH"/>
      <xs:enumeration value="PK"/>
      <xs:enumeration value="PL"/>
      <xs:enumeration value="PM"/>
      <xs:enumeration value="PN"/>
      <xs:enumeration value="PR"/>
      <xs:enumeration value="PS"/>
      <xs:enumeration value="PT"/>
      <xs:enumeration value="PW"/>
      <xs:enumeration value="PY"/>
      <xs:enumeration value="QA"/>
      <xs:enumeration value="RE"/>
      <xs:enumeration value="RO"/>
      <xs:enumeration value="RS"/>
      <xs:enumeration value="RU"/>
      <xs:enumeration value="RW"/>
      <xs:enumeration value="SA"/>
      <xs:enumeration value="SB"/>
      <xs:enumeration value="SC"/>
      <xs:enumeration value="SD"/>
      <xs:enumeration value="SE"/>
      <xs:enumeration value="SG"/>
      <xs:enumeration value="SH"/>
      <xs:enumeration value="SI"/>
      <xs:enumeration value="SJ"/>
      <xs:enumeration value="SK"/>
      <xs:enumeration value="SL"/>
      <xs:enumeration value="SM"/>
      <xs:enumeration value="SN"/>
      <xs:enumeration value="SO"/>
      <xs:enumeration value="SR"/>
      <xs:enumeration value="ST"/>
      <xs:enumeration value="SV"/>
      <xs:enumeration value="SX"/>
      <xs:enumeration value="SY"/>
      <xs:enumeration value="SZ"/>
      <xs:enumeration value="TC"/>
      <xs:enumeration value="TD"/>
      <xs:enumeration value="TF"/>
      <xs:enumeration value="TG"/>
      <xs:enumeration value="TH"/>
      <xs:enumeration value="TJ"/>
      <xs:enumeration value="TK"/>
      <xs:enumeration value="TL"/>
      <xs:enumeration value="TM"/>
      <xs:enumeration value="TN"/>
      <xs:enumeration value="TO"/>
      <xs:enumeration value="TR"/>
      <xs:enumeration value="TT"/>
      <xs:enumeration value="TV"/>
      <xs:enumeration value="TW"/>
      <xs:enumeration value="TZ"/>
      <xs:enumeration value="UA"/>
      <xs:enumeration value="UG"/>
      <xs:enumeration value="UM"/>
      <xs:enumeration value="US"/>
      <xs:enumeration value="UY"/>
      <xs:enumeration value="UZ"/>
      <xs:enumeration value="VA"/>
      <xs:enumeration value="VC"/>
      <xs:enumeration value="VE"/>
      <xs:enumeration value="VG"/>
      <xs:enumeration value="VI"/>
      <xs:enumeration value="VN"/>
      <xs:enumeration value="VU"/>
      <xs:enumeration value="WF"/>
      <xs:enumeration value="WS"/>
      <xs:enumeration value="YE"/>
      <xs:enumeration value="YT"/>
      <xs:enumeration value="ZA"/>
      <xs:enumeration value="ZM"/>
      <xs:enumeration value="ZW"/>
      <xs:pattern value="[A-Z]{2,2}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="CreditDebitCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CRDT"/>
      <xs:enumeration value="DBIT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditorReferenceInformation2">
    <xs:sequence>
      <xs:element name="Tp" type="CreditorReferenceType2" minOccurs="0"/>
      <xs:element name="Ref" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceInformation2_2">
    <xs:sequence>
      <xs:element name="Tp" type="CreditorReferenceType2_2" minOccurs="0"/>
      <xs:element name="Ref" type="Max35Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType3Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType1Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType3Code"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditorReferenceType2_2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="CreditorReferenceType1Choice_2"/>
      <xs:element name="Issr" type="Max35Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransactionInformation10">
    <xs:sequence>
      <xs:element name="PmtId" type="PaymentIdentification1"/>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation19" minOccurs="0"/>
      <xs:element name="Amt" type="AmountType3Choice"/>
      <xs:element name="XchgRateInf" type="ExchangeRateInformation1" minOccurs="0"/>
      <xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0"/>
      <xs:element name="ChqInstr" type="Cheque6" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
      <xs:element name="Cdtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="CdtrAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="InstrForCdtrAgt" type="InstructionForCreditorAgent1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InstrForDbtrAgt" type="Max140Text" minOccurs="0"/>
      <xs:element name="Purp" type="Purpose2Choice" minOccurs="0"/>
      <xs:element name="RgltryRptg" type="RegulatoryReporting3" minOccurs="0" maxOccurs="10"/>
      <xs:element name="RmtInf" type="RemittanceInformation5" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditTransferTransactionInformation10_2">
    <xs:sequence>
      <xs:element name="PmtId" type="PaymentIdentification1_2"/>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation19_3" minOccurs="0"/>
      <xs:element name="Amt" type="AmountType3Choice_2"/>
      <xs:element name="XchgRateInf" type="ExchangeRateInformation1_2" minOccurs="0"/>
      <xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0"/>
      <xs:element name="ChqInstr" type="Cheque6_2" minOccurs="0"/>
      <xs:element name="UltmtDbtr" type="PartyIdentification32_3" minOccurs="0"/>
      <xs:element name="IntrmyAgt1" type="BranchAndFinancialInstitutionIdentification4_4" minOccurs="0"/>
      <xs:element name="CdtrAgt" type="BranchAndFinancialInstitutionIdentification4_5" minOccurs="0"/>
      <xs:element name="Cdtr" type="PartyIdentification32_3" minOccurs="0"/>
      <xs:element name="CdtrAcct" type="CashAccount16_4" minOccurs="0"/>
      <xs:element name="UltmtCdtr" type="PartyIdentification32_3" minOccurs="0"/>
      <xs:element name="InstrForCdtrAgt" type="InstructionForCreditorAgent1_2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="InstrForDbtrAgt" type="Max140Text_3" minOccurs="0"/>
      <xs:element name="Purp" type="Purpose2Choice" minOccurs="0"/>
      <xs:element name="RgltryRptg" type="RegulatoryReporting3_2" minOccurs="0" maxOccurs="10"/>
      <xs:element name="RmtInf" type="RemittanceInformation5_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerCreditTransferInitiationV03">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader32"/>
      <xs:element name="PmtInf" type="PaymentInstructionInformation3" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CustomerCreditTransferInitiationV03_2">
    <xs:sequence>
      <xs:element name="GrpHdr" type="GroupHeader32_2"/>
      <xs:element name="PmtInf" type="PaymentInstructionInformation3_2" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DateAndPlaceOfBirth_2">
    <xs:sequence>
      <xs:element name="BirthDt" type="ISODate"/>
      <xs:element name="PrvcOfBirth" type="Max35Text_3" minOccurs="0"/>
      <xs:element name="CityOfBirth" type="Max35Text_3"/>
      <xs:element name="CtryOfBirth" type="CountryCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DecimalNumber">
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element name="CstmrCdtTrfInitn" type="CustomerCreditTransferInitiationV03"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdjustment1">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Rsn" type="Max4Text" minOccurs="0"/>
      <xs:element name="AddtlInf" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentAdjustment1_2">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CdtDbtInd" type="CreditDebitCode" minOccurs="0"/>
      <xs:element name="Rsn" type="Max4Text_2" minOccurs="0"/>
      <xs:element name="AddtlInf" type="Max140Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DocumentType3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="FXDR"/>
      <xs:enumeration value="PUOR"/>
      <xs:enumeration value="RADM"/>
      <xs:enumeration value="RPIN"/>
      <xs:enumeration value="SCOR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DocumentType5Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AROI"/>
      <xs:enumeration value="BOLD"/>
      <xs:enumeration value="CINV"/>
      <xs:enumeration value="CMCN"/>
      <xs:enumeration value="CNFA"/>
      <xs:enumeration value="CREN"/>
      <xs:enumeration value="DEBN"/>
      <xs:enumeration value="DISP"/>
      <xs:enumeration value="DNFA"/>
      <xs:enumeration value="HIRI"/>
      <xs:enumeration value="MSIN"/>
      <xs:enumeration value="SBIN"/>
      <xs:enumeration value="SOAC"/>
      <xs:enumeration value="TSUT"/>
      <xs:enumeration value="VCHR"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document_2">
    <xs:sequence>
      <xs:element name="CstmrCdtTrfInitn" type="CustomerCreditTransferInitiationV03_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EquivalentAmount2">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount"/>
      <xs:element name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EquivalentAmount2_2">
    <xs:sequence>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount_2"/>
      <xs:element name="CcyOfTrf" type="ActiveOrHistoricCurrencyCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangeRateInformation1">
    <xs:sequence>
      <xs:element name="XchgRate" type="BaseOneRate" minOccurs="0"/>
      <xs:element name="RateTp" type="ExchangeRateType1Code" minOccurs="0"/>
      <xs:element name="CtrctId" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangeRateInformation1_2">
    <xs:sequence>
      <xs:element name="XchgRate" type="BaseOneRate" minOccurs="0"/>
      <xs:element name="RateTp" type="ExchangeRateType1Code" minOccurs="0"/>
      <xs:element name="CtrctId" type="Max35Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ExchangeRateType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AGRD"/>
      <xs:enumeration value="SALE"/>
      <xs:enumeration value="SPOT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalCategoryPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BONU"/>
      <xs:enumeration value="CASH"/>
      <xs:enumeration value="CBLK"/>
      <xs:enumeration value="CCRD"/>
      <xs:enumeration value="CORT"/>
      <xs:enumeration value="DCRD"/>
      <xs:enumeration value="DIVI"/>
      <xs:enumeration value="DVPM"/>
      <xs:enumeration value="EPAY"/>
      <xs:enumeration value="FCOL"/>
      <xs:enumeration value="GOVT"/>
      <xs:enumeration value="HEDG"/>
      <xs:enumeration value="ICCP"/>
      <xs:enumeration value="IDCP"/>
      <xs:enumeration value="INTC"/>
      <xs:enumeration value="INTE"/>
      <xs:enumeration value="LOAN"/>
      <xs:enumeration value="OTHR"/>
      <xs:enumeration value="PENS"/>
      <xs:enumeration value="RVPM"/>
      <xs:enumeration value="SALA"/>
      <xs:enumeration value="SECU"/>
      <xs:enumeration value="SSBE"/>
      <xs:enumeration value="SUPP"/>
      <xs:enumeration value="TAXS"/>
      <xs:enumeration value="TRAD"/>
      <xs:enumeration value="TREA"/>
      <xs:enumeration value="VATX"/>
      <xs:enumeration value="WHLD"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ATBLZ"/>
      <xs:enumeration value="AUBSB"/>
      <xs:enumeration value="CACPA"/>
      <xs:enumeration value="CHBCC"/>
      <xs:enumeration value="CHSIC"/>
      <xs:enumeration value="CNAPS"/>
      <xs:enumeration value="DEBLZ"/>
      <xs:enumeration value="ESNCC"/>
      <xs:enumeration value="GBDSC"/>
      <xs:enumeration value="GRBIC"/>
      <xs:enumeration value="HKNCC"/>
      <xs:enumeration value="IENCC"/>
      <xs:enumeration value="INFSC"/>
      <xs:enumeration value="ITNCC"/>
      <xs:enumeration value="JPZGN"/>
      <xs:enumeration value="NZNCC"/>
      <xs:enumeration value="PLKNR"/>
      <xs:enumeration value="PTNCC"/>
      <xs:enumeration value="RUCBC"/>
      <xs:enumeration value="SESBA"/>
      <xs:enumeration value="SGIBG"/>
      <xs:enumeration value="THCBC"/>
      <xs:enumeration value="TWNCC"/>
      <xs:enumeration value="USABA"/>
      <xs:enumeration value="USPID"/>
      <xs:enumeration value="ZANCC"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalClearingSystemIdentification1Code_2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHBCC"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalFinancialInstitutionIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalLocalInstrument1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="04"/>
      <xs:enumeration value="05"/>
      <xs:enumeration value="08"/>
      <xs:enumeration value="19"/>
      <xs:enumeration value="58"/>
      <xs:enumeration value="60"/>
      <xs:enumeration value="82"/>
      <xs:enumeration value="83"/>
      <xs:enumeration value="85"/>
      <xs:enumeration value="89"/>
      <xs:enumeration value="0000"/>
      <xs:enumeration value="0001"/>
      <xs:enumeration value="0002"/>
      <xs:enumeration value="0090"/>
      <xs:enumeration value="0091"/>
      <xs:enumeration value="0092"/>
      <xs:enumeration value="0220"/>
      <xs:enumeration value="0221"/>
      <xs:enumeration value="0222"/>
      <xs:enumeration value="0223"/>
      <xs:enumeration value="0224"/>
      <xs:enumeration value="0225"/>
      <xs:enumeration value="0226"/>
      <xs:enumeration value="0227"/>
      <xs:enumeration value="ACCEPT"/>
      <xs:enumeration value="ARC"/>
      <xs:enumeration value="B2B"/>
      <xs:enumeration value="B2BAMIPM"/>
      <xs:enumeration value="BSE"/>
      <xs:enumeration value="BTR"/>
      <xs:enumeration value="CARD"/>
      <xs:enumeration value="CCD"/>
      <xs:enumeration value="CCI"/>
      <xs:enumeration value="CHN"/>
      <xs:enumeration value="CIE"/>
      <xs:enumeration value="CKS"/>
      <xs:enumeration value="COR1"/>
      <xs:enumeration value="CORAMIPM"/>
      <xs:enumeration value="CORE"/>
      <xs:enumeration value="CPP"/>
      <xs:enumeration value="CR1AMIPM"/>
      <xs:enumeration value="CTP"/>
      <xs:enumeration value="CTR"/>
      <xs:enumeration value="CTX"/>
      <xs:enumeration value="DDFA"/>
      <xs:enumeration value="DDNR"/>
      <xs:enumeration value="DDT"/>
      <xs:enumeration value="DEP"/>
      <xs:enumeration value="DRB"/>
      <xs:enumeration value="DRC"/>
      <xs:enumeration value="DRW"/>
      <xs:enumeration value="FADAMIPM"/>
      <xs:enumeration value="FFR"/>
      <xs:enumeration value="FFS"/>
      <xs:enumeration value="GST"/>
      <xs:enumeration value="IAT"/>
      <xs:enumeration value="IDEAL"/>
      <xs:enumeration value="IN"/>
      <xs:enumeration value="ISE"/>
      <xs:enumeration value="NLDO"/>
      <xs:enumeration value="NLGOV"/>
      <xs:enumeration value="NLUP"/>
      <xs:enumeration value="ONCL"/>
      <xs:enumeration value="POP"/>
      <xs:enumeration value="POS"/>
      <xs:enumeration value="PPD"/>
      <xs:enumeration value="RCK"/>
      <xs:enumeration value="RDD"/>
      <xs:enumeration value="RIBA"/>
      <xs:enumeration value="RIDO"/>
      <xs:enumeration value="RIDV"/>
      <xs:enumeration value="RTR"/>
      <xs:enumeration value="SCN"/>
      <xs:enumeration value="SDCL"/>
      <xs:enumeration value="SDD"/>
      <xs:enumeration value="SDN"/>
      <xs:enumeration value="SGT"/>
      <xs:enumeration value="SRD"/>
      <xs:enumeration value="SRT"/>
      <xs:enumeration value="STR"/>
      <xs:enumeration value="SVC"/>
      <xs:enumeration value="TEL"/>
      <xs:enumeration value="TRF"/>
      <xs:enumeration value="WEB"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalOrganisationIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BANK"/>
      <xs:enumeration value="CBID"/>
      <xs:enumeration value="CHID"/>
      <xs:enumeration value="COID"/>
      <xs:enumeration value="CUST"/>
      <xs:enumeration value="DUNS"/>
      <xs:enumeration value="EMPL"/>
      <xs:enumeration value="GS1G"/>
      <xs:enumeration value="SREN"/>
      <xs:enumeration value="SRET"/>
      <xs:enumeration value="TXID"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPersonIdentification1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ARNU"/>
      <xs:enumeration value="CCPT"/>
      <xs:enumeration value="CUST"/>
      <xs:enumeration value="DRLC"/>
      <xs:enumeration value="EMPL"/>
      <xs:enumeration value="NIDN"/>
      <xs:enumeration value="SOSE"/>
      <xs:enumeration value="TXID"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalPurpose1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCT"/>
      <xs:enumeration value="ADCS"/>
      <xs:enumeration value="ADMG"/>
      <xs:enumeration value="ADVA"/>
      <xs:enumeration value="AEMP"/>
      <xs:enumeration value="AGRT"/>
      <xs:enumeration value="AIRB"/>
      <xs:enumeration value="ALLW"/>
      <xs:enumeration value="ALMY"/>
      <xs:enumeration value="ANNI"/>
      <xs:enumeration value="ANTS"/>
      <xs:enumeration value="AREN"/>
      <xs:enumeration value="BBSC"/>
      <xs:enumeration value="BCDM"/>
      <xs:enumeration value="BCFG"/>
      <xs:enumeration value="BECH"/>
      <xs:enumeration value="BENE"/>
      <xs:enumeration value="BEXP"/>
      <xs:enumeration value="BLDM"/>
      <xs:enumeration value="BOCE"/>
      <xs:enumeration value="BONU"/>
      <xs:enumeration value="BUSB"/>
      <xs:enumeration value="CAFI"/>
      <xs:enumeration value="CASH"/>
      <xs:enumeration value="CBFF"/>
      <xs:enumeration value="CBFR"/>
      <xs:enumeration value="CBLK"/>
      <xs:enumeration value="CBTV"/>
      <xs:enumeration value="CCRD"/>
      <xs:enumeration value="CDBL"/>
      <xs:enumeration value="CDCB"/>
      <xs:enumeration value="CDCD"/>
      <xs:enumeration value="CDCS"/>
      <xs:enumeration value="CDDP"/>
      <xs:enumeration value="CDOC"/>
      <xs:enumeration value="CDQC"/>
      <xs:enumeration value="CFDI"/>
      <xs:enumeration value="CFEE"/>
      <xs:enumeration value="CGDD"/>
      <xs:enumeration value="CHAR"/>
      <xs:enumeration value="CLPR"/>
      <xs:enumeration value="CMDT"/>
      <xs:enumeration value="COLL"/>
      <xs:enumeration value="COMC"/>
      <xs:enumeration value="COMM"/>
      <xs:enumeration value="COMT"/>
      <xs:enumeration value="COST"/>
      <xs:enumeration value="CPKC"/>
      <xs:enumeration value="CPYR"/>
      <xs:enumeration value="CSDB"/>
      <xs:enumeration value="CSLP"/>
      <xs:enumeration value="CVCF"/>
      <xs:enumeration value="DBTC"/>
      <xs:enumeration value="DCRD"/>
      <xs:enumeration value="DEPT"/>
      <xs:enumeration value="DERI"/>
      <xs:enumeration value="DIVD"/>
      <xs:enumeration value="DMEQ"/>
      <xs:enumeration value="DNTS"/>
      <xs:enumeration value="DSMT"/>
      <xs:enumeration value="ECPG"/>
      <xs:enumeration value="ECPR"/>
      <xs:enumeration value="ECPU"/>
      <xs:enumeration value="EDUC"/>
      <xs:enumeration value="ELEC"/>
      <xs:enumeration value="ENRG"/>
      <xs:enumeration value="ESTX"/>
      <xs:enumeration value="ETUP"/>
      <xs:enumeration value="FAND"/>
      <xs:enumeration value="FCOL"/>
      <xs:enumeration value="FCPM"/>
      <xs:enumeration value="FERB"/>
      <xs:enumeration value="FREX"/>
      <xs:enumeration value="FWLV"/>
      <xs:enumeration value="GASB"/>
      <xs:enumeration value="GDDS"/>
      <xs:enumeration value="GDSV"/>
      <xs:enumeration value="GFRP"/>
      <xs:enumeration value="GOVI"/>
      <xs:enumeration value="GOVT"/>
      <xs:enumeration value="GSCB"/>
      <xs:enumeration value="GSTX"/>
      <xs:enumeration value="GVEA"/>
      <xs:enumeration value="GVEB"/>
      <xs:enumeration value="GVEC"/>
      <xs:enumeration value="GVED"/>
      <xs:enumeration value="GWLT"/>
      <xs:enumeration value="HEDG"/>
      <xs:enumeration value="HLRP"/>
      <xs:enumeration value="HLTC"/>
      <xs:enumeration value="HLTI"/>
      <xs:enumeration value="HREC"/>
      <xs:enumeration value="HSPC"/>
      <xs:enumeration value="HSTX"/>
      <xs:enumeration value="ICCP"/>
      <xs:enumeration value="ICRF"/>
      <xs:enumeration value="IDCP"/>
      <xs:enumeration value="IHRP"/>
      <xs:enumeration value="INPC"/>
      <xs:enumeration value="INSM"/>
      <xs:enumeration value="INSU"/>
      <xs:enumeration value="INTC"/>
      <xs:enumeration value="INTE"/>
      <xs:enumeration value="INTX"/>
      <xs:enumeration value="INVS"/>
      <xs:enumeration value="IVPT"/>
      <xs:enumeration value="LBRI"/>
      <xs:enumeration value="LICF"/>
      <xs:enumeration value="LIFI"/>
      <xs:enumeration value="LIMA"/>
      <xs:enumeration value="LOAN"/>
      <xs:enumeration value="LOAR"/>
      <xs:enumeration value="LTCF"/>
      <xs:enumeration value="MCDM"/>
      <xs:enumeration value="MCFG"/>
      <xs:enumeration value="MDCS"/>
      <xs:enumeration value="MSVC"/>
      <xs:enumeration value="MTUP"/>
      <xs:enumeration value="NETT"/>
      <xs:enumeration value="NITX"/>
      <xs:enumeration value="NOWS"/>
      <xs:enumeration value="NWCH"/>
      <xs:enumeration value="NWCM"/>
      <xs:enumeration value="OCDM"/>
      <xs:enumeration value="OCFG"/>
      <xs:enumeration value="OFEE"/>
      <xs:enumeration value="OTHR"/>
      <xs:enumeration value="OTLC"/>
      <xs:enumeration value="PADD"/>
      <xs:enumeration value="PAYR"/>
      <xs:enumeration value="PENO"/>
      <xs:enumeration value="PENS"/>
      <xs:enumeration value="PHON"/>
      <xs:enumeration value="POPE"/>
      <xs:enumeration value="PPTI"/>
      <xs:enumeration value="PRCP"/>
      <xs:enumeration value="PRME"/>
      <xs:enumeration value="PTSP"/>
      <xs:enumeration value="PTXP"/>
      <xs:enumeration value="RCKE"/>
      <xs:enumeration value="RCPT"/>
      <xs:enumeration value="RDTX"/>
      <xs:enumeration value="REBT"/>
      <xs:enumeration value="REFU"/>
      <xs:enumeration value="RENT"/>
      <xs:enumeration value="RHBS"/>
      <xs:enumeration value="RIMB"/>
      <xs:enumeration value="RINP"/>
      <xs:enumeration value="RLWY"/>
      <xs:enumeration value="ROYA"/>
      <xs:enumeration value="SALA"/>
      <xs:enumeration value="SAVG"/>
      <xs:enumeration value="SCVE"/>
      <xs:enumeration value="SECU"/>
      <xs:enumeration value="SEPI"/>
      <xs:enumeration value="SSBE"/>
      <xs:enumeration value="STDY"/>
      <xs:enumeration value="SUBS"/>
      <xs:enumeration value="SUPP"/>
      <xs:enumeration value="TAXR"/>
      <xs:enumeration value="TAXS"/>
      <xs:enumeration value="TBIL"/>
      <xs:enumeration value="TCSC"/>
      <xs:enumeration value="TELI"/>
      <xs:enumeration value="TRAD"/>
      <xs:enumeration value="TREA"/>
      <xs:enumeration value="TRFD"/>
      <xs:enumeration value="TRPT"/>
      <xs:enumeration value="TRVC"/>
      <xs:enumeration value="UBIL"/>
      <xs:enumeration value="VATX"/>
      <xs:enumeration value="VIEW"/>
      <xs:enumeration value="WEBI"/>
      <xs:enumeration value="WHLD"/>
      <xs:enumeration value="WTER"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BKTR"/>
      <xs:enumeration value="NUGP"/>
      <xs:enumeration value="NURG"/>
      <xs:enumeration value="PRPT"/>
      <xs:enumeration value="SDVA"/>
      <xs:enumeration value="SEPA"/>
      <xs:enumeration value="SVDE"/>
      <xs:enumeration value="URGP"/>
      <xs:enumeration value="URNS"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ExternalServiceLevel1Code_2">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRPT"/>
      <xs:enumeration value="SDVA"/>
      <xs:enumeration value="SEPA"/>
      <xs:enumeration value="URGP"/>
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialIdentificationSchemeName1Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalFinancialInstitutionIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_2">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_2" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text_3" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6_2" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_3">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_4">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_2" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text_3" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6_3" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialInstitutionIdentification7_5">
    <xs:sequence>
      <xs:element name="BIC" type="BICIdentifier" minOccurs="0"/>
      <xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2_2" minOccurs="0"/>
      <xs:element name="Nm" type="Max140Text_2" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6_3" minOccurs="0"/>
      <xs:element name="Othr" type="GenericFinancialIdentification1_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericAccountIdentification1_2">
    <xs:sequence>
      <xs:element name="Id" type="Max34Text_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1_2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text_3"/>
      <xs:element name="SchmeNm" type="FinancialIdentificationSchemeName1Choice_2" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericFinancialIdentification1_3">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text_3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericOrganisationIdentification1_2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text_3"/>
      <xs:element name="SchmeNm" type="OrganisationIdentificationSchemeName1Choice_2" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenericPersonIdentification1_2">
    <xs:sequence>
      <xs:element name="Id" type="Max35Text_3"/>
      <xs:element name="SchmeNm" type="PersonIdentificationSchemeName1Choice_2" minOccurs="0"/>
      <xs:element name="Issr" type="Max35Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader32">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element name="NbOfTxs" type="Max15NumericText"/>
      <xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="InitgPty" type="PartyIdentification32"/>
      <xs:element name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification4" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GroupHeader32_2">
    <xs:sequence>
      <xs:element name="MsgId" type="Max35Text_2"/>
      <xs:element name="CreDtTm" type="ISODateTime"/>
      <xs:element name="NbOfTxs" type="Max15NumericText"/>
      <xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="InitgPty" type="PartyIdentification32_2"/>
      <xs:element name="FwdgAgt" type="BranchAndFinancialInstitutionIdentification4_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="IBAN2007Identifier">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Z]{2,2}[0-9]{2,2}[a-zA-Z0-9]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Instruction3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHQB"/>
      <xs:enumeration value="HOLD"/>
      <xs:enumeration value="PHOB"/>
      <xs:enumeration value="TELB"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="InstructionForCreditorAgent1">
    <xs:sequence>
      <xs:element name="Cd" type="Instruction3Code" minOccurs="0"/>
      <xs:element name="InstrInf" type="Max140Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InstructionForCreditorAgent1_2">
    <xs:sequence>
      <xs:element name="Cd" type="Instruction3Code" minOccurs="0"/>
      <xs:element name="InstrInf" type="Max140Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODate">
    <xs:restriction base="xs:date"/>
  </xs:simpleType>
  <xs:simpleType name="ISODateTime">
    <xs:restriction base="xs:dateTime"/>
  </xs:simpleType>
  <xs:complexType name="LocalInstrument2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocalInstrument2Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalLocalInstrument1Code"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max10Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max10Text_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="10"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max140Text_3">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="140"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max15NumericText">
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{1,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max16Text_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max2048Text_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="2048"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max34Text_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="34"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="([A-Za-z0-9]|[+|\?|/|\-|:|\(|\)|\.|,|&apos;|\p{Zs}])*"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_3">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max35Text_4">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="(NOA)|(SIA)|(CND)|(CWD)"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max4Text_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="4"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Max70Text_2">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="70"/>
      <xs:pattern value="([a-zA-Z0-9\.,;:&apos;\+\-/\(\)?\*\[\]\{\}\\`~ ]|[!&quot;#%&amp;&lt;&gt;=@_$]|[])*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NamePrefix1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DOCT"/>
      <xs:enumeration value="MADM"/>
      <xs:enumeration value="MISS"/>
      <xs:enumeration value="MIST"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="OrganisationIdentification4">
    <xs:sequence>
      <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification4_2">
    <xs:sequence>
      <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentification4_3">
    <xs:sequence>
      <xs:element name="BICOrBEI" type="AnyBICIdentifier" minOccurs="0"/>
      <xs:element name="Othr" type="GenericOrganisationIdentification1_2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganisationIdentificationSchemeName1Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalOrganisationIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party6Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification4"/>
        <xs:element name="PrvtId" type="PersonIdentification5"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party6Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification4_2"/>
        <xs:element name="PrvtId" type="PersonIdentification5_2"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party6Choice_3">
    <xs:sequence>
      <xs:choice>
        <xs:element name="OrgId" type="OrganisationIdentification4_3"/>
        <xs:element name="PrvtId" type="PersonIdentification5_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6" minOccurs="0"/>
      <xs:element name="Id" type="Party6Choice" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="ContactDetails2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_2">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text_2" minOccurs="0"/>
      <xs:element name="Id" type="Party6Choice_2" minOccurs="0"/>
      <xs:element name="CtctDtls" type="ContactDetails2_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_3">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text_2" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6_3" minOccurs="0"/>
      <xs:element name="Id" type="Party6Choice_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyIdentification32_4">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text_3" minOccurs="0"/>
      <xs:element name="PstlAdr" type="PostalAddress6_2" minOccurs="0"/>
      <xs:element name="Id" type="Party6Choice_3" minOccurs="0"/>
      <xs:element name="CtryOfRes" type="CountryCode" minOccurs="0"/>
      <xs:element name="CtctDtls" type="ContactDetails2_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification1">
    <xs:sequence>
      <xs:element name="InstrId" type="Max35Text" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentIdentification1_2">
    <xs:sequence>
      <xs:element name="InstrId" type="Max35Text_2" minOccurs="0"/>
      <xs:element name="EndToEndId" type="Max35Text_2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstructionInformation3">
    <xs:sequence>
      <xs:element name="PmtInfId" type="Max35Text"/>
      <xs:element name="PmtMtd" type="PaymentMethod3Code"/>
      <xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0"/>
      <xs:element name="NbOfTxs" type="Max15NumericText" minOccurs="0"/>
      <xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation19" minOccurs="0"/>
      <xs:element name="ReqdExctnDt" type="ISODate"/>
      <xs:element name="Dbtr" type="PartyIdentification32"/>
      <xs:element name="DbtrAcct" type="CashAccount16"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4"/>
      <xs:element name="UltmtDbtr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0"/>
      <xs:element name="ChrgsAcct" type="CashAccount16" minOccurs="0"/>
      <xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformation10" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentInstructionInformation3_2">
    <xs:sequence>
      <xs:element name="PmtInfId" type="Max35Text_2"/>
      <xs:element name="PmtMtd" type="PaymentMethod3Code"/>
      <xs:element name="BtchBookg" type="BatchBookingIndicator" minOccurs="0"/>
      <xs:element name="NbOfTxs" type="Max15NumericText" minOccurs="0"/>
      <xs:element name="CtrlSum" type="DecimalNumber" minOccurs="0"/>
      <xs:element name="PmtTpInf" type="PaymentTypeInformation19_2" minOccurs="0"/>
      <xs:element name="ReqdExctnDt" type="ISODate"/>
      <xs:element name="Dbtr" type="PartyIdentification32_3"/>
      <xs:element name="DbtrAcct" type="CashAccount16_2"/>
      <xs:element name="DbtrAgt" type="BranchAndFinancialInstitutionIdentification4_3"/>
      <xs:element name="UltmtDbtr" type="PartyIdentification32_3" minOccurs="0"/>
      <xs:element name="ChrgBr" type="ChargeBearerType1Code" minOccurs="0"/>
      <xs:element name="ChrgsAcct" type="CashAccount16_3" minOccurs="0"/>
      <xs:element name="CdtTrfTxInf" type="CreditTransferTransactionInformation10_2" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PaymentMethod3Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CHK"/>
      <xs:enumeration value="TRA"/>
      <xs:enumeration value="TRF"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PaymentTypeInformation19">
    <xs:sequence>
      <xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
      <xs:element name="SvcLvl" type="ServiceLevel8Choice" minOccurs="0"/>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation19_2">
    <xs:sequence>
      <xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
      <xs:element name="SvcLvl" type="ServiceLevel8Choice_2" minOccurs="0"/>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice_2" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PaymentTypeInformation19_3">
    <xs:sequence>
      <xs:element name="InstrPrty" type="Priority2Code" minOccurs="0"/>
      <xs:element name="SvcLvl" type="ServiceLevel8Choice_3" minOccurs="0"/>
      <xs:element name="LclInstrm" type="LocalInstrument2Choice_2" minOccurs="0"/>
      <xs:element name="CtgyPurp" type="CategoryPurpose1Choice" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5_2">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth_2" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentification5_3">
    <xs:sequence>
      <xs:element name="DtAndPlcOfBirth" type="DateAndPlaceOfBirth_2" minOccurs="0"/>
      <xs:element name="Othr" type="GenericPersonIdentification1_2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonIdentificationSchemeName1Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPersonIdentification1Code"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="PhoneNumber">
    <xs:restriction base="xs:string">
      <xs:pattern value="\+[0-9]{1,3}-[0-9()+\-]{1,30}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PostalAddress6">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress6_2">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text_2" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text_2" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text_2" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text_2" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text_2" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text_3" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text_3" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text_2" minOccurs="0" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostalAddress6_3">
    <xs:sequence>
      <xs:element name="AdrTp" type="AddressType2Code" minOccurs="0"/>
      <xs:element name="Dept" type="Max70Text_2" minOccurs="0"/>
      <xs:element name="SubDept" type="Max70Text_2" minOccurs="0"/>
      <xs:element name="StrtNm" type="Max70Text_2" minOccurs="0"/>
      <xs:element name="BldgNb" type="Max16Text_2" minOccurs="0"/>
      <xs:element name="PstCd" type="Max16Text_2" minOccurs="0"/>
      <xs:element name="TwnNm" type="Max35Text_3" minOccurs="0"/>
      <xs:element name="CtrySubDvsn" type="Max35Text_3" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="AdrLine" type="Max70Text_2" minOccurs="0" maxOccurs="2"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Priority2Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="HIGH"/>
      <xs:enumeration value="NORM"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Purpose2Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalPurpose1Code"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation3">
    <xs:sequence>
      <xs:element name="Tp" type="ReferredDocumentType2" minOccurs="0"/>
      <xs:element name="Nb" type="Max35Text" minOccurs="0"/>
      <xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentInformation3_2">
    <xs:sequence>
      <xs:element name="Tp" type="ReferredDocumentType2_2" minOccurs="0"/>
      <xs:element name="Nb" type="Max35Text_3" minOccurs="0"/>
      <xs:element name="RltdDt" type="ISODate" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType1Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType5Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType1Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="DocumentType5Code"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice"/>
      <xs:element name="Issr" type="Max35Text" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferredDocumentType2_2">
    <xs:sequence>
      <xs:element name="CdOrPrtry" type="ReferredDocumentType1Choice_2"/>
      <xs:element name="Issr" type="Max35Text_3" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegulatoryAuthority2">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegulatoryAuthority2_2">
    <xs:sequence>
      <xs:element name="Nm" type="Max140Text_3" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegulatoryReporting3">
    <xs:sequence>
      <xs:element name="DbtCdtRptgInd" type="RegulatoryReportingType1Code" minOccurs="0"/>
      <xs:element name="Authrty" type="RegulatoryAuthority2" minOccurs="0"/>
      <xs:element name="Dtls" type="StructuredRegulatoryReporting3" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegulatoryReporting3_2">
    <xs:sequence>
      <xs:element name="DbtCdtRptgInd" type="RegulatoryReportingType1Code" minOccurs="0"/>
      <xs:element name="Authrty" type="RegulatoryAuthority2_2" minOccurs="0"/>
      <xs:element name="Dtls" type="StructuredRegulatoryReporting3_2" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RegulatoryReportingType1Code">
    <xs:restriction base="xs:string">
      <xs:enumeration value="BOTH"/>
      <xs:enumeration value="CRED"/>
      <xs:enumeration value="DEBT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RemittanceAmount1">
    <xs:sequence>
      <xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceAmount1_2">
    <xs:sequence>
      <xs:element name="DuePyblAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="DscntApldAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="CdtNoteAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="TaxAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="AdjstmntAmtAndRsn" type="DocumentAdjustment1_2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RmtdAmt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation5">
    <xs:sequence>
      <xs:element name="Ustrd" type="Max140Text" minOccurs="0"/>
      <xs:element name="Strd" type="StructuredRemittanceInformation7" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RemittanceInformation5_2">
    <xs:sequence>
      <xs:element name="Ustrd" type="Max140Text_3" minOccurs="0"/>
      <xs:element name="Strd" type="StructuredRemittanceInformation7_2" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
        <xs:element name="Prtry" type="Max35Text"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice_2">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalServiceLevel1Code_2"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceLevel8Choice_3">
    <xs:sequence>
      <xs:choice>
        <xs:element name="Cd" type="ExternalServiceLevel1Code"/>
        <xs:element name="Prtry" type="Max35Text_3"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRegulatoryReporting3">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text" minOccurs="0"/>
      <xs:element name="Dt" type="ISODate" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="Cd" type="Max10Text" minOccurs="0"/>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Inf" type="Max35Text" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRegulatoryReporting3_2">
    <xs:sequence>
      <xs:element name="Tp" type="Max35Text_3" minOccurs="0"/>
      <xs:element name="Dt" type="ISODate" minOccurs="0"/>
      <xs:element name="Ctry" type="CountryCode" minOccurs="0"/>
      <xs:element name="Cd" type="Max10Text_2" minOccurs="0"/>
      <xs:element name="Amt" type="ActiveOrHistoricCurrencyAndAmount" minOccurs="0"/>
      <xs:element name="Inf" type="Max35Text_3" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation7">
    <xs:sequence>
      <xs:element name="RfrdDocInf" type="ReferredDocumentInformation3" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RfrdDocAmt" type="RemittanceAmount1" minOccurs="0"/>
      <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2" minOccurs="0"/>
      <xs:element name="Invcr" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="Invcee" type="PartyIdentification32" minOccurs="0"/>
      <xs:element name="AddtlRmtInf" type="Max140Text" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredRemittanceInformation7_2">
    <xs:sequence>
      <xs:element name="RfrdDocInf" type="ReferredDocumentInformation3_2" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RfrdDocAmt" type="RemittanceAmount1_2" minOccurs="0"/>
      <xs:element name="CdtrRefInf" type="CreditorReferenceInformation2_2" minOccurs="0"/>
      <xs:element name="Invcr" type="PartyIdentification32_4" minOccurs="0"/>
      <xs:element name="Invcee" type="PartyIdentification32_4" minOccurs="0"/>
      <xs:element name="AddtlRmtInf" type="Max140Text_3" minOccurs="0" maxOccurs="3"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
